<a href="https://colab.research.google.com/github/dilanbakr/netflixRecommendationMovie/blob/main/Recommendation_with_Deep_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import warnings
warnings.filterwarnings('ignore')

import io
import os
import copy
import pickle
import zipfile
from urllib.error import URLError
from urllib.request import urlopen
from scipy import spatial

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [ ]:
from keras.layers import Input, Dense, Embedding, Concatenate, Flatten, Dropout
from keras.models import Model, Sequential
from keras import optimizers

Using TensorFlow backend.

In [ ]:
os.mkdir("Data")

In [ ]:
np.random.seed(5)

In [ ]:
def try_download(url, download_path):
    archive_name = url.split('/')[-1]
    folder_name, _ = os.path.splitext(archive_name)
    
    try:
        r = urlopen(url)
    except URLError as e:
        print('Cannot download the data. Error: {0}'.format(e))
        return 

    assert r.status == 200
    data = r.read()

    with zipfile.ZipFile(io.BytesIO(data)) as arch:
        arch.extractall(download_path)
        
    print('The archive is extracted into folder: %s' % download_path)

In [ ]:
def read_data(path):
    files = {}
    for filename in os.listdir(path):
        if os.path.splitext(filename)[-1] == '.csv':
            files[os.path.splitext(filename)[0]] = pd.read_csv(os.path.join(path,filename))
        elif os.path.splitext(filename)[-1] == '.dat':
            if os.path.splitext(filename)[0] == 'ratings':
                columns = ['userId', 'movieId', 'rating', 'timestamp']
            else:
                columns = ['movieId', 'title', 'genres']
            data = pd.read_csv(os.path.join(path,filename), sep='::', names=columns, engine='python')
            files[os.path.splitext(filename)[0]] = data
    return files['ratings'], files['movies']

In [ ]:
archive_url = f'http://files.grouplens.org/datasets/movielens/ml-1m.zip'
download_path = os.path.join(os.curdir, 'Data')

In [ ]:
try_download(archive_url, download_path)

The archive is extracted into folder: ./Data

In [ ]:
ratings, movies = read_data(os.path.join(download_path, 'ml-1m'))

In [ ]:
ratings.head()

   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [ ]:
movies.head()

   movieId                               title                        genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [ ]:
# ratings.groupby('userId')['rating'].count().sort_values(ascending=False)
# ratings.groupby('movieId')['rating'].count().sort_values(ascending=False)

In [ ]:
def tabular_preview(ratings, n=15):
    """Creates a cross-tabular view of users vs movies."""
    
    user_groups = ratings.groupby('userId')['rating'].count()
    top_users = user_groups.sort_values(ascending=False)[:15]

    movie_groups = ratings.groupby('movieId')['rating'].count()
    top_movies = movie_groups.sort_values(ascending=False)[:15]

    top = (
        ratings.
        join(top_users, rsuffix='_r', how='inner', on='userId').
        join(top_movies, rsuffix='_r', how='inner', on='movieId'))

    return pd.crosstab(top.userId, top.movieId, top.rating, aggfunc=np.sum)

In [ ]:
tabular_preview(ratings, movies)

movieId  110   260   480   589   593   608   ...  1270  1580  2028  2571  2762  2858
userId                                       ...
889       4.0   4.0   3.0   5.0   5.0   4.0  ...   4.0   3.0   3.0   5.0   NaN   2.0
1015      4.0   5.0   4.0   5.0   5.0   5.0  ...   4.0   4.0   5.0   5.0   5.0   4.0
1150      2.0   5.0   NaN   2.0   3.0   5.0  ...   2.0   2.0   2.0   1.0   2.0   4.0
1181      3.0   4.0   2.0   5.0   3.0   3.0  ...   3.0   4.0   4.0   5.0   4.0   3.0
1449      3.0   3.0   2.0   2.0   5.0   5.0  ...   2.0   4.0   3.0   4.0   4.0   4.0
1680      1.0   2.0   5.0   5.0   5.0   5.0  ...   3.0   4.0   5.0   3.0   5.0   5.0
1941      5.0   5.0   5.0   3.0   5.0   4.0  ...   5.0   5.0   5.0   3.0   5.0   1.0
1980      4.0   4.0   4.0   4.0   5.0   5.0  ...   5.0   4.0   5.0   5.0   5.0   5.0
2063      5.0   4.0   4.0   2.0   5.0   2.0  ...   4.0   3.0   2.0   5.0   4.0   5.0
2909      5.0   5.0   5.0   4.0   5.0   5.0  ...   5.0   5.0   5.0   4.0   5.0   5.0
3618      3.0   4.0   4.0   3.0   5.0   4.0  ...   4.0   3.0   3.0   3.0   4.0   4.0
4169      4.0   5.0   5.0   4.0   5.0   5.0  ...   4.0   4.0   5.0   4.0   5.0   5.0
4277      5.0   5.0   5.0   5.0   5.0   5.0  ...   5.0   4.0   5.0   5.0   5.0   5.0
4344      5.0   5.0   4.0   4.0   2.0   5.0  ...   4.0   3.0   2.0   5.0   5.0   5.0
5795      5.0   5.0   5.0   4.0   5.0   4.0  ...   5.0   1.0   5.0   1.0   2.0   5.0

[15 rows x 15 columns]

In [ ]:
ratings = pd.merge(ratings, movies, on="movieId")
ratings.shape

(1000209, 6)

In [ ]:
ratings.head()

   userId  movieId  ...                                   title  genres
0       1     1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
1       2     1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
2      12     1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
3      15     1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama
4      17     1193  ...  One Flew Over the Cuckoo's Nest (1975)   Drama

[5 rows x 6 columns]

In [ ]:
def create_dataset(ratings, top=None):
    if top is not None:
        ratings.groupby('userId')['rating'].count()
    
    unique_users = ratings.userId.unique()
    user_to_index = {old: new for new, old in enumerate(unique_users)}
    new_users = ratings.userId.map(user_to_index)
    
    unique_movies = ratings.movieId.unique()
    movie_to_index = {old: new for new, old in enumerate(unique_movies)}
    new_movies = ratings.movieId.map(movie_to_index)
    
    n_users = unique_users.shape[0]
    n_movies = unique_movies.shape[0]
    
    X = pd.DataFrame({'user_id': new_users, 'movie_id': new_movies})
    y = ratings['rating'].astype(np.float32)
    return (n_users, n_movies), (X, y), (user_to_index, movie_to_index)

In [ ]:
(n, m), (X, y), (user_to_index, movie_to_index) = create_dataset(ratings)
print(f'Embeddings: {n} users, {m} movies')
print(f'Dataset shape: {X.shape}')
print(f'Target shape: {y.shape}')

Embeddings: 6040 users, 3706 movies
Dataset shape: (1000209, 2)
Target shape: (1000209,)

In [ ]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))
y_normalized = scaler.fit_transform(y.to_numpy().reshape(-1, 1))
y_normalized = y_normalized.ravel()

In [ ]:
y_normalized

array([1.  , 1.  , 0.75, ..., 0.  , 1.  , 0.75], dtype=float32)

# Creating The Model

In [ ]:
input_user = Input(shape=(1,), dtype='int32', name='user_input')
input_movie = Input(shape=(1,), dtype='int32', name='movie_input')

x_1 = Embedding(output_dim=50, input_dim=n, input_length=1, name="user_embeddings")(input_user)
x_2 = Embedding(output_dim=50, input_dim=m, input_length=1, name="movie_embeddings")(input_movie)

x = Concatenate()([x_1, x_2])
x1_f = Flatten()(x)
x1 = Dropout(0.05)(x1_f)
x2_f = Dense(300, activation='relu')(x1)
x2 = Dropout(0.5)(x2_f)
x3_f = Dense(300, activation='relu')(x2)
x3 = Dropout(0.5)(x3_f)
x4 = Dense(300, activation='relu')(x3)
x4_f = Dropout(0.25)(x4)
pred = Dense(1, activation='linear')(x4_f)

model = Model(inputs=[input_user, input_movie], outputs=pred)
model.compile(optimizer='adam',
              loss='mean_squared_error',
              metrics=['mse'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:541: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:4432: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:66: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:148: The name tf.placeholder_with_default is deprecated. Please use tf.compat.v1.placeholder_with_default instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3733: calling dropout (from tensorflow.python.ops.nn_ops) with keep_prob is deprecated and will be removed in a future version.
Instructions for updating:
Please use `rate` instead of `keep_prob`. Rate should be set to `rate = 1 - keep_prob`.
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [ ]:
model.summary()

Model: "model_1"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
user_input (InputLayer)         (None, 1)            0
__________________________________________________________________________________________________
movie_input (InputLayer)        (None, 1)            0
__________________________________________________________________________________________________
user_embeddings (Embedding)     (None, 1, 50)        302000      user_input[0][0]
__________________________________________________________________________________________________
movie_embeddings (Embedding)    (None, 1, 50)        185300      movie_input[0][0]
__________________________________________________________________________________________________
concatenate_1 (Concatenate)     (None, 1, 100)       0           user_embeddings[0][0]
                                                                 movie_embeddings[0][0]
__________________________________________________________________________________________________
flatten_1 (Flatten)             (None, 100)          0           concatenate_1[0][0]
__________________________________________________________________________________________________
dropout_1 (Dropout)             (None, 100)          0           flatten_1[0][0]
__________________________________________________________________________________________________
dense_1 (Dense)                 (None, 300)          30300       dropout_1[0][0]
__________________________________________________________________________________________________
dropout_2 (Dropout)             (None, 300)          0           dense_1[0][0]
__________________________________________________________________________________________________
dense_2 (Dense)                 (None, 300)          90300       dropout_2[0][0]
__________________________________________________________________________________________________
dropout_3 (Dropout)             (None, 300)          0           dense_2[0][0]
__________________________________________________________________________________________________
dense_3 (Dense)                 (None, 300)          90300       dropout_3[0][0]
__________________________________________________________________________________________________
dropout_4 (Dropout)             (None, 300)          0           dense_3[0][0]
__________________________________________________________________________________________________
dense_4 (Dense)                 (None, 1)            301         dropout_4[0][0]
==================================================================================================
Total params: 698,501
Trainable params: 698,501
Non-trainable params: 0
__________________________________________________________________________________________________

In [ ]:
model.fit([X.user_id.to_numpy(), X.movie_id.to_numpy()], y_normalized,
          epochs=10,
          batch_size=256,
          validation_split=0.25
          )

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3005: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Train on 750156 samples, validate on 250053 samples
Epoch 1/10
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:190: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:197: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:207: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:216: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:223: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

750156/750156 [==============================] - 28s 38us/step - loss: 0.0577 - mean_squared_error: 0.0577 - val_loss: 0.0792 - val_mean_squared_error: 0.0792
Epoch 2/10
750156/750156 [==============================] - 23s 30us/step - loss: 0.0523 - mean_squared_error: 0.0523 - val_loss: 0.0808 - val_mean_squared_error: 0.0808
Epoch 3/10
750156/750156 [==============================] - 22s 30us/step - loss: 0.0502 - mean_squared_error: 0.0502 - val_loss: 0.0794 - val_mean_squared_error: 0.0794
Epoch 4/10
750156/750156 [==============================] - 22s 30us/step - loss: 0.0488 - mean_squared_error: 0.0488 - val_loss: 0.0796 - val_mean_squared_error: 0.0796
Epoch 5/10
750156/750156 [==============================] - 22s 30us/step - loss: 0.0479 - mean_squared_error: 0.0479 - val_loss: 0.0795 - val_mean_squared_error: 0.0795
Epoch 6/10
750156/750156 [==============================] - 22s 30us/step - loss: 0.0471 - mean_squared_error: 0.0471 - val_loss: 0.0795 - val_mean_squared_error: 0.0795
Epoch 7/10
750156/750156 [==============================] - 22s 30us/step - loss: 0.0461 - mean_squared_error: 0.0461 - val_loss: 0.0802 - val_mean_squared_error: 0.0802
Epoch 8/10
750156/750156 [==============================] - 23s 31us/step - loss: 0.0452 - mean_squared_error: 0.0452 - val_loss: 0.0789 - val_mean_squared_error: 0.0789
Epoch 9/10
750156/750156 [==============================] - 23s 30us/step - loss: 0.0445 - mean_squared_error: 0.0445 - val_loss: 0.0788 - val_mean_squared_error: 0.0788
Epoch 10/10
750156/750156 [==============================] - 22s 30us/step - loss: 0.0438 - mean_squared_error: 0.0438 - val_loss: 0.0793 - val_mean_squared_error: 0.0793

In [ ]:
ratings["user_id_index"] = ratings["userId"].apply(lambda x: user_to_index[x])

In [ ]:
ratings["movie_id_index"] = ratings["movieId"].apply(lambda x: movie_to_index[x])

In [ ]:
ratings.head()

   userId  movieId  rating  ...  genres user_id_index movie_id_index
0       1     1193       5  ...   Drama             0              0
1       2     1193       5  ...   Drama             1              0
2      12     1193       4  ...   Drama             2              0
3      15     1193       4  ...   Drama             3              0
4      17     1193       5  ...   Drama             4              0

[5 rows x 8 columns]

In [ ]:
ratings.loc[ratings["userId"] == 387, :].head(8)

       userId  movieId  ...  user_id_index  movie_id_index
6054      387     1197  ...           3666               5
20263     387     2797  ...           3666              19
32809     387      745  ...           3666              29
46937     387      260  ...           3666              44
65759     387     2628  ...           3666              60
70908     387     1210  ...           3666              64
81447     387     3108  ...           3666              75
92680     387     1188  ...           3666              88

[8 rows x 8 columns]

In [ ]:
scaler.inverse_transform(model.predict([np.array([3666]), np.array([44])]))

array([[4.515724]], dtype=float32)

# Let's Inspect The Embeddings

In [ ]:
model.layers

[<keras.engine.input_layer.InputLayer at 0x7f3e194688d0>,
 <keras.engine.input_layer.InputLayer at 0x7f3e19468908>,
 <keras.layers.embeddings.Embedding at 0x7f3e19468898>,
 <keras.layers.embeddings.Embedding at 0x7f3e19468ef0>,
 <keras.layers.merge.Concatenate at 0x7f3e19468d68>,
 <keras.layers.core.Flatten at 0x7f3e19468a20>,
 <keras.layers.core.Dropout at 0x7f3e1a6cb358>,
 <keras.layers.core.Dense at 0x7f3e1a6dc9e8>,
 <keras.layers.core.Dropout at 0x7f3e1a6e39b0>,
 <keras.layers.core.Dense at 0x7f3e1952ffd0>,
 <keras.layers.core.Dropout at 0x7f3e19540908>,
 <keras.layers.core.Dense at 0x7f3e1954c4a8>,
 <keras.layers.core.Dropout at 0x7f3e19553cc0>,
 <keras.layers.core.Dense at 0x7f3e19561b00>]

In [ ]:
user_embed = pd.DataFrame(model.layers[2].get_weights()[0])
movie_embed = pd.DataFrame(model.layers[3].get_weights()[0])

In [ ]:
movie_embed.head()

         0         1         2   ...        47        48        49
0  0.253975  0.176474  0.090010  ...  0.032241  0.124948  0.009561
1 -0.165665 -0.048002  0.093160  ... -0.033952  0.063121 -0.132364
2  0.114560  0.320287  0.076128  ...  0.115363 -0.224775  0.066536
3  0.116039  0.386919  0.111326  ...  0.068278 -0.347930 -0.160063
4  0.061016  0.294981  0.078544  ...  0.129707 -0.167120  0.103428

[5 rows x 50 columns]

In [ ]:
ratings.head()

   userId  movieId  rating  ...  genres user_id_index movie_id_index
0       1     1193       5  ...   Drama             0              0
1       2     1193       5  ...   Drama             1              0
2      12     1193       4  ...   Drama             2              0
3      15     1193       4  ...   Drama             3              0
4      17     1193       5  ...   Drama             4              0

[5 rows x 8 columns]

In [ ]:
class color:
    PURPLE = '\033[95m'
    CYAN = '\033[96m'
    DARKCYAN = '\033[36m'
    BLUE = '\033[94m'
    GREEN = '\033[92m'
    YELLOW = '\033[93m'
    RED = '\033[91m'
    BOLD = '\033[1m'
    UNDERLINE = '\033[4m'
    END = '\033[0m'

In [ ]:
def findMostSimilarMovies(ratings, movie_embed, movie_id):
    
    selectedMovie_index = ratings.loc[ratings["movieId"] == movie_id, "movie_id_index"].unique()[0]
    print("Name of Movie is {}".format(ratings.loc[ratings["movieId"] == movie_id, "title"].unique()[0]))
    
    selected_embedding = movie_embed.loc[selectedMovie_index, :].to_numpy()
    movie_embed = movie_embed.to_numpy()
    
    distance = np.zeros(movie_embed.shape[0])
    for i, movie in enumerate(movie_embed):
        distance[i] = 1 - spatial.distance.cosine(selected_embedding, movie)
    most_similars = np.argsort(distance)[-2:-11:-1]
    
    print("\n")
    print("Recommended Movies")
    print("=" * 20)
    for sim in most_similars:
        rec_movie_name = ratings.loc[ratings["movie_id_index"] == sim , "title"].unique()[0]
        rec_movie_genres = ratings.loc[ratings["movie_id_index"] == sim , "genres"].unique()[0]
        print(color.BOLD + color.BLUE + "Movie Name is => {0}, Movie Genres are {1}".format(rec_movie_name, rec_movie_genres))
    
    return None

In [ ]:
findMostSimilarMovies(ratings, movie_embed, 1210)

Name of Movie is Star Wars: Episode VI - Return of the Jedi (1983)


Recommended Movies
====================
Movie Name is => Star Wars: Episode V - The Empire Strikes Back (1980), Movie Genres are Action|Adventure|Drama|Sci-Fi|War
Movie Name is => Star Wars: Episode IV - A New Hope (1977), Movie Genres are Action|Adventure|Fantasy|Sci-Fi
Movie Name is => Indiana Jones and the Last Crusade (1989), Movie Genres are Action|Adventure
Movie Name is => Star Wars: Episode I - The Phantom Menace (1999), Movie Genres are Action|Adventure|Fantasy|Sci-Fi
Movie Name is => Braveheart (1995), Movie Genres are Action|Drama|War
Movie Name is => Shawshank Redemption, The (1994), Movie Genres are Drama
Movie Name is => Young Guns (1988), Movie Genres are Action|Comedy|Western
Movie Name is => Caddyshack (1980), Movie Genres are Comedy
Movie Name is => Vacation (1983), Movie Genres are Comedy

In [ ]:
def findMostSimilarUsers(ratings, user_embed, user_id):
    
    selectedUser_index = ratings.loc[ratings["userId"] == user_id, "user_id_index"].unique()[0]
    
    selected_embedding = user_embed.loc[selectedUser_index, :].to_numpy()
    user_embed = user_embed.to_numpy()
    
    distance = np.zeros(user_embed.shape[0])
    for i, user in enumerate(user_embed):
        distance[i] = 1 - spatial.distance.cosine(selected_embedding, user)
    most_similars = np.argsort(distance)[-2:-5:-1]
    
    print("\n")
    print("Recommended Movies")
    print("=" * 20)
    for sim in most_similars:
        rec_user_name = ratings.loc[ratings["user_id_index"] == sim , "userId"].unique()[0]
        print(color.BOLD + color.BLUE + "User Name is => {0}".format(rec_user_name))
    
    return None

findMostSimilarUsers(ratings, user_embed, 189)

Recommended Movies
====================
User Name is => 2899
User Name is => 748
User Name is => 278